@model RadioSystems.React.ViewModels.ReactViewModel

<div id="orchard-react"></div>

@using (Script.Foot()) {
    <script>
        var initialUserState = JSON.parse('@Html.Raw(Model.UserJson)');
    </script>
    <script src="@Url.Content("~/webpack/Orchard.React.js")"></script>
}

